{% extends "layouts/base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-6">About Taskey</h1>

    <p>Taskey is a simple taskboard application, made with a custom php framework called 'Maestro'.</p>
{% endblock %}