<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Taskey - {% block title %}{% endblock %}</title>
</head>

<body class="bg-gradient-to-br from-gray-900 via-gray-800 to-black
             text-white min-h-screen flex items-center justify-center">

{% block content %}{% endblock %}

</body>
</html>